.section, .content-wrap {
	padding: 0 !important;
}

.content-wrap {
	padding-top: 40px !important;
}

.section {
	padding-top: 60px !important;
}

/*.masonry-thumbs a, .masonry-thumbs img {*/
	/*height: unset !important;*/
/*}*/

/*a > img.image_fade {*/
	/*max-width: 190px !important;*/
	/*max-height: 143px !important;*/
/*}*/

@media only screen and (max-width: 991px) {
	#primary-menu .container #primary-menu-trigger {
		left: 45% !important;
	}
}
